In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import sys

os.chdir("..")

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
def get_L(n=100, n_weak=20):
    L = np.round(0.25 * np.random.rand(n, n_weak), 2)
    L[:, :5] = 4 * L[:, :5]
    L[0] = 0
    L = pd.DataFrame(L, columns=[f"lf_{i}" for i in range(n_weak)])
    return L

In [6]:
get_L()

,lf_0,lf_1,lf_2,lf_3,lf_4,lf_5,lf_6,lf_7,lf_8,lf_9,lf_10,lf_11,lf_12,lf_13,lf_14,lf_15,lf_16,lf_17,lf_18,lf_19
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,0.76,0.92,0.84,0.56,0.44,0.11,0.19,0.13,0.10,0.08,0.22,0.22,0.05,0.01,0.22,0.21,0.25,0.05,0.12,0.06
2,0.24,1.00,0.80,0.16,0.36,0.09,0.02,0.21,0.23,0.07,0.17,0.12,0.15,0.20,0.17,0.22,0.02,0.09,0.12,0.18
3,0.72,0.40,0.56,0.20,0.84,0.18,0.05,0.06,0.09,0.06,0.16,0.03,0.24,0.09,0.08,0.03,0.17,0.10,0.15,0.08
4,0.32,0.28,0.84,0.08,0.20,0.14,0.06,0.07,0.20,0.21,0.08,0.19,0.05,0.08,0.25,0.15,0.03,0.21,0.21,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.60,0.12,0.72,0.16,0.88,0.00,0.03,0.00,0.09,0.11,0.12,0.22,0.03,0.09,0.24,0.24,0.17,0.07,0.12,0.18
96,0.60,0.56,0.76,0.52,0.24,0.21,0.01,0.02,0.17,0.08,0.03,0.11,0.08,0.08,0.23,0.21,0.16,0.22,0.23,0.25
97,0.80,0.16,0.96,0.80,0.40,0.17,0.17,0.03,0.14,0.11,0.11,0.10,0.21,0.21,0.19,0.05,0.23,0.12,0.11,0.08
98,0.12,0.08,0.80,0.68,0.36,0.09,0.07,0.23,0.11,0.17,0.25,0.25,0.23,0.10,0.25,0.21,0.24,0.23,0.04,0.10
99,0.60,0.80,0.64,0.60,0.72,0.20,0.24,0.10,0.01,0.23,0.19,0.24,0.12,0.11,0.14,0.12,0.23,0.04,0.02,0.14

In [7]:
L = get_L()

In [8]:
polarities = np.array([0] * 10 + [1] * 5 + [2] * 5)

In [9]:
from flippers.models import Voter, BalancedVoter

In [10]:
Voter(polarities).predict(L, strategy="probability")

array([-1,  2,  2,  0,  0,  2,  0,  2,  0,  0,  1,  0,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  2,  0,  0,  0,  0,  0,  2,  1,  0,  0,  0,  0,  0,
        0,  0,  0,  0,  2,  0,  1,  2,  2,  0,  0,  0,  2,  0,  0,  0,  0,
        1,  0,  0,  0,  0,  0,  0,  2,  0,  0,  2,  0,  0,  0,  1,  0,  0,
        0,  0,  1,  2,  1,  0,  0,  0,  2,  0,  0,  0,  1,  0,  1,  0,  0,
        0,  0,  2,  0,  2,  2,  2,  0,  1,  1,  0,  0,  0,  2,  0])

In [11]:
balanced_voter = BalancedVoter(polarities)
balanced_voter.fit(L, balances=[10, 50, 5])

In [12]:
balanced_voter.predict_proba(L).sum(axis=1)

array([0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [13]:
pd.DataFrame(balanced_voter.predict(L, strategy="probability")).value_counts()

 1    67
 0    21
 2    11
-1     1
dtype: int64

In [14]:
polarities.shape

(20,)

In [15]:
pd.DataFrame(balanced_voter.predict(get_L())).value_counts()

 1    99
-1     1
dtype: int64

In [16]:
# Example weight matrix
A = np.array([[0.1, 0, 0.9], [0.4, 0.4, 0.2], [0.2, 0.5, 0.3]])

# Randomly sample indices from each row of A
Y = np.array([np.random.choice(range(3), p=row) for row in A])

print(Y)

[2 1 2]

In [17]:
np.apply_along_axis(lambda x: np.random.choice(3, p=x), axis=1, arr=A)

array([2, 0, 2])

In [18]:
A

array([[0.1, 0. , 0.9],
       [0.4, 0.4, 0.2],
       [0.2, 0.5, 0.3]])

In [19]:
B = A.copy()

In [20]:
B[0] = 1

In [21]:
A

array([[0.1, 0. , 0.9],
       [0.4, 0.4, 0.2],
       [0.2, 0.5, 0.3]])

In [22]:
B

array([[1. , 1. , 1. ],
       [0.4, 0.4, 0.2],
       [0.2, 0.5, 0.3]])

In [23]:
L.sum(axis=1) == 0

0      True
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Length: 100, dtype: bool

In [24]:
(L > 0).mean()

lf_0     0.95
lf_1     0.99
lf_2     0.98
lf_3     0.94
lf_4     0.98
lf_5     0.95
lf_6     0.98
lf_7     0.96
lf_8     0.97
lf_9     0.98
lf_10    0.98
lf_11    0.98
lf_12    0.98
lf_13    0.99
lf_14    0.97
lf_15    0.96
lf_16    0.95
lf_17    0.98
lf_18    0.98
lf_19    0.96
dtype: float64

In [25]:
L[L > 0].mean()

lf_0     0.511158
lf_1     0.487677
lf_2     0.494694
lf_3     0.509362
lf_4     0.521224
lf_5     0.121895
lf_6     0.115510
lf_7     0.115104
lf_8     0.134536
lf_9     0.123265
lf_10    0.133571
lf_11    0.131224
lf_12    0.118776
lf_13    0.125455
lf_14    0.130000
lf_15    0.128437
lf_16    0.128000
lf_17    0.140306
lf_18    0.144592
lf_19    0.122083
dtype: float64

In [26]:
import pandas as pd
import numpy as np

# Create a binary matrix with random values
np.random.seed(123)
df = pd.DataFrame(
    np.random.randint(0, 2, size=(5, 6)), columns=["A", "B", "C", "D", "E", "F"]
)
print(df)

   A  B  C  D  E  F
0  0  1  0  0  0  0
1  0  1  1  0  1  1
2  0  1  0  1  0  1
3  1  0  0  0  1  1
4  1  0  1  0  0  0

In [27]:
df

   A  B  C  D  E  F
0  0  1  0  0  0  0
1  0  1  1  0  1  1
2  0  1  0  1  0  1
3  1  0  0  0  1  1
4  1  0  1  0  0  0

In [28]:
overlap = df.T.dot(df)

In [29]:
overlap / np.diag(overlap)

     A         B    C    D    E         F
A  1.0  0.000000  0.5  0.0  0.5  0.333333
B  0.0  1.000000  0.5  1.0  0.5  0.666667
C  0.5  0.333333  1.0  0.0  0.5  0.333333
D  0.0  0.333333  0.0  1.0  0.0  0.333333
E  0.5  0.333333  0.5  0.0  1.0  0.666667
F  0.5  0.666667  0.5  1.0  1.0  1.000000

In [30]:
import flippers

In [31]:
weak_label_info = flippers.core._WeakLabelInfo(polarities)

In [32]:
weak_label_info

In [39]:
L @ L.T

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
1,0.0,0.4525,0.7777,0.3060,0.5813,0.6619,0.5114,0.6764,0.6108,0.7952,...,0.6753,0.6944,0.6050,0.6024,0.7143,0.5808,0.4201,0.6140,0.5620,0.5919
2,0.0,0.7777,3.1840,0.6284,1.7845,2.4201,1.5083,2.1011,2.0808,2.9510,...,2.1285,2.3505,1.6722,1.8447,2.3559,1.6454,1.5837,1.7735,1.9382,2.1069
3,0.0,0.3060,0.6284,0.4911,0.6294,0.6058,0.6602,0.6295,0.6054,0.6402,...,0.5951,0.6188,0.6785,0.6694,0.6636,0.5213,0.4942,0.6952,0.6101,0.5794
4,0.0,0.5813,1.7845,0.6294,2.0502,1.4523,1.6214,1.8006,1.0392,1.6393,...,1.4132,1.5468,1.1797,1.1476,1.2256,1.2117,1.6891,1.5434,1.8894,1.6550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,0.5808,1.6454,0.5213,1.2117,1.3286,0.7904,1.1591,1.1163,1.4991,...,1.3248,1.2722,0.9890,1.0201,1.2269,1.2603,1.0807,1.2051,1.2259,1.1116
96,0.0,0.4201,1.5837,0.4942,1.6891,1.1748,1.4211,1.3075,1.0389,1.4100,...,1.3020,1.1359,1.0881,1.0598,1.0361,1.0807,1.7532,1.4553,1.4094,1.5731
97,0.0,0.6140,1.7735,0.6952,1.5434,1.5440,1.4841,1.3118,1.5510,1.5681,...,1.6502,1.1835,1.7399,1.5413,1.5764,1.2051,1.4553,2.0679,1.3169,1.4039
98,0.0,0.5620,1.9382,0.6101,1.8894,1.6164,1.5060,1.9502,1.0376,1.8419,...,1.4612,1.8592,1.0717,1.0990,1.4131,1.2259,1.4094,1.3169,2.1298,1.5145
99,0.0,0.5919,2.1069,0.5794,1.6550,1.4892,1.8518,1.8147,1.5204,2.0125,...,1.4860,1.7538,1.4056,1.4569,1.5987,1.1116,1.5731,1.4039,1.5145,2.1523

In [49]:
L.sum(axis=1)

0     0.00
1     2.63
2     5.20
3     2.75
4     4.50
      ...
95    4.07
96    3.52
97    4.39
98    4.30
99    4.49
Length: 100, dtype: float64

In [62]:
L

,lf_0,lf_1,lf_2,lf_3,lf_4,lf_5,lf_6,lf_7,lf_8,lf_9,lf_10,lf_11,lf_12,lf_13,lf_14,lf_15,lf_16,lf_17,lf_18,lf_19
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,0.20,0.08,0.20,0.20,0.08,0.11,0.12,0.24,0.05,0.22,0.19,0.02,0.02,0.22,0.15,0.18,0.04,0.02,0.13,0.16
2,0.88,0.16,0.84,0.92,0.76,0.05,0.10,0.02,0.02,0.05,0.20,0.12,0.17,0.14,0.12,0.15,0.22,0.22,0.02,0.04
3,0.12,0.32,0.12,0.12,0.04,0.18,0.08,0.08,0.21,0.05,0.14,0.14,0.15,0.01,0.16,0.14,0.15,0.24,0.25,0.05
4,0.44,0.80,0.12,0.28,0.88,0.13,0.18,0.17,0.00,0.02,0.22,0.09,0.06,0.24,0.23,0.10,0.23,0.06,0.09,0.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.48,0.20,0.08,0.60,0.44,0.19,0.02,0.20,0.24,0.23,0.05,0.10,0.11,0.20,0.22,0.21,0.10,0.23,0.02,0.15
96,0.04,0.68,0.12,0.56,0.88,0.00,0.02,0.04,0.02,0.09,0.03,0.23,0.04,0.08,0.18,0.20,0.18,0.00,0.04,0.09
97,0.24,0.92,0.32,0.84,0.20,0.03,0.13,0.21,0.09,0.19,0.20,0.18,0.09,0.21,0.04,0.00,0.10,0.24,0.04,0.12
98,0.84,0.64,0.24,0.08,0.84,0.09,0.02,0.03,0.16,0.13,0.22,0.06,0.04,0.08,0.11,0.08,0.11,0.16,0.12,0.25
99,0.08,0.40,0.80,0.44,0.92,0.06,0.19,0.11,0.15,0.04,0.03,0.02,0.17,0.19,0.22,0.04,0.20,0.08,0.23,0.12

In [65]:
from flippers.core import _WeakLabelInfo

In [67]:
I = _WeakLabelInfo(polarities).interference_matrix

In [69]:
I.shape

(20, 20)

In [71]:
L

,lf_0,lf_1,lf_2,lf_3,lf_4,lf_5,lf_6,lf_7,lf_8,lf_9,lf_10,lf_11,lf_12,lf_13,lf_14,lf_15,lf_16,lf_17,lf_18,lf_19
0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
1,0.20,0.08,0.20,0.20,0.08,0.11,0.12,0.24,0.05,0.22,0.19,0.02,0.02,0.22,0.15,0.18,0.04,0.02,0.13,0.16
2,0.88,0.16,0.84,0.92,0.76,0.05,0.10,0.02,0.02,0.05,0.20,0.12,0.17,0.14,0.12,0.15,0.22,0.22,0.02,0.04
3,0.12,0.32,0.12,0.12,0.04,0.18,0.08,0.08,0.21,0.05,0.14,0.14,0.15,0.01,0.16,0.14,0.15,0.24,0.25,0.05
4,0.44,0.80,0.12,0.28,0.88,0.13,0.18,0.17,0.00,0.02,0.22,0.09,0.06,0.24,0.23,0.10,0.23,0.06,0.09,0.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.48,0.20,0.08,0.60,0.44,0.19,0.02,0.20,0.24,0.23,0.05,0.10,0.11,0.20,0.22,0.21,0.10,0.23,0.02,0.15
96,0.04,0.68,0.12,0.56,0.88,0.00,0.02,0.04,0.02,0.09,0.03,0.23,0.04,0.08,0.18,0.20,0.18,0.00,0.04,0.09
97,0.24,0.92,0.32,0.84,0.20,0.03,0.13,0.21,0.09,0.19,0.20,0.18,0.09,0.21,0.04,0.00,0.10,0.24,0.04,0.12
98,0.84,0.64,0.24,0.08,0.84,0.09,0.02,0.03,0.16,0.13,0.22,0.06,0.04,0.08,0.11,0.08,0.11,0.16,0.12,0.25
99,0.08,0.40,0.80,0.44,0.92,0.06,0.19,0.11,0.15,0.04,0.03,0.02,0.17,0.19,0.22,0.04,0.20,0.08,0.23,0.12

In [75]:
overlaps = flippers.num_overlaps(L)

In [108]:
L = L < 0.05

In [110]:
L = L.astype(float)

In [111]:
foo = L * ((L @ I).values - L)

In [112]:
foo

,lf_0,lf_1,lf_2,lf_3,lf_4,lf_5,lf_6,lf_7,lf_8,lf_9,lf_10,lf_11,lf_12,lf_13,lf_14,lf_15,lf_16,lf_17,lf_18,lf_19
0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,4.0,0.0,0.0,0.0,0.0,4.0,4.0,4.0,4.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
97,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
98,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [113]:
(foo > 0).sum()

lf_0      6
lf_1      4
lf_2      5
lf_3      9
lf_4      5
lf_5     17
lf_6     17
lf_7     18
lf_8     15
lf_9     13
lf_10    14
lf_11     9
lf_12    16
lf_13     9
lf_14    12
lf_15    13
lf_16    11
lf_17     7
lf_18    10
lf_19     9
dtype: int64

In [114]:
L

,lf_0,lf_1,lf_2,lf_3,lf_4,lf_5,lf_6,lf_7,lf_8,lf_9,lf_10,lf_11,lf_12,lf_13,lf_14,lf_15,lf_16,lf_17,lf_18,lf_19
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
96,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
97,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
98,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [117]:
(foo > 0).sum()

lf_0      6
lf_1      4
lf_2      5
lf_3      9
lf_4      5
lf_5     17
lf_6     17
lf_7     18
lf_8     15
lf_9     13
lf_10    14
lf_11     9
lf_12    16
lf_13     9
lf_14    12
lf_15    13
lf_16    11
lf_17     7
lf_18    10
lf_19     9
dtype: int64

In [121]:
I[:] = 1

In [122]:
I

array([[ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True],
       [ True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True,  True,  True,  True,  True,  True,  True,  True,
         True,  True]])

In [124]:
L

,lf_0,lf_1,lf_2,lf_3,lf_4,lf_5,lf_6,lf_7,lf_8,lf_9,lf_10,lf_11,lf_12,lf_13,lf_14,lf_15,lf_16,lf_17,lf_18,lf_19
0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
96,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
97,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
98,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
99,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [142]:
L = get_L()

In [143]:
L = np.clip(L, 0.1, 1)

In [144]:
flippers.summary(L, polarities)

,polarity,coverage,confidence,overlapped_ratio,matched_ratio,conflicted_ratio
lf_0,0,1.0,0.522,1.916,1.916,1.916
lf_1,0,1.0,0.490,2.040,2.040,2.040
lf_2,0,1.0,0.531,1.882,1.882,1.882
lf_3,0,1.0,0.443,2.258,2.258,2.258
lf_4,0,1.0,0.465,2.149,2.149,2.149
lf_5,0,1.0,0.142,7.047,7.047,7.047
lf_6,0,1.0,0.154,6.502,6.502,6.502
lf_7,0,1.0,0.161,6.207,6.207,6.207
lf_8,0,1.0,0.142,7.047,7.047,7.047
lf_9,0,1.0,0.145,6.882,6.882,6.882
lf_10,1,1.0,0.139,7.194,7.194,7.194
lf_11,1,1.0,0.152,6.588,6.588,6.588
lf_12,1,1.0,0.148,6.748,6.748,6.748
lf_13,1,1.0,0.136,7.380,7.380,7.380
lf_14,1,1.0,0.143,6.998,6.998,6.998
lf_15,2,1.0,0.151,6.623,6.623,6.623
lf_16,2,1.0,0.144,6.930,6.930,6.930
lf_17,2,1.0,0.145,6.916,6.916,6.916
lf_18,2,1.0,0.144,6.944,6.944,6.944
lf_19,2,1.0,0.140,7.128,7.128,7.128